<form class="container-fluid clearfix">
    <!-- Usuario -->
    <div class="input-group  form-row m-2" style="padding-bottom: 10px">
        <div class="input-group-prepend">
            <label class="input-group-text" for="txt_usuario_login" style="width: 100px">Usuario:</label>
        </div>
        <input type="text" id="txt_usuario_login" name="user" placeholder="Usuario" class="form-control">
    </div>

    <!-- Senha -->
    <div class="input-group  form-row m-2" style="padding-bottom: 10px">
        <div class="input-group-append" >
            <label class="input-group-text" for="txt_senha_login" style="width: 100px">Senha:</label>
        </div>
        <input type="password" id="txt_senha_login" name="pass" placeholder="********" class="form-control">
    </div>

    <!-- Entrar -->
    <div class="float-right">
        <button type="submit" class="btn  btn-primary" id="btn_entrar_login" data-dismiss="modal" name="btn_entrar_login">Entrar</button>
    </div>

</form>