
nav li{
    margin-left: 25px;
    margin-right: 25px;
}
.style-border-right {
    border-right: solid 1px #ff9500;
}
.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #ff9500;
    border-color: #ff9500;
}

.vertical-center{
    padding: 20px;
    resize: vertical;
    overflow: auto;
}

.main {
    padding: 48px 0 0;

}

.dropdown-content {
    max-height: 100px;
}

@media (max-height: 768px) {
    .tab-height{
        height:400px;
    }
}

@media (max-height: 800px) {
    .tab-height{
        height:450px;
    }
}

@media (max-height: 900px) {
    .tab-height{
        height:575px;
    }
}






